.product-box {
    width: 400px;
    height: 500px;

    margin: 20px auto;         
    padding: 30px;             
    border: 3px solid grey;
    border-radius: 15px;

    box-shadow: 0 8px 18px rgb(128, 126, 126);

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        

    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.product-img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.product-description {
    font-size: 16px;
    color: #867d7d;
    text-align: center;
    margin-bottom: 25px;
}

.buy-btn {
    padding: 14px 30px;
    font-size: 18px;
    background-color: #216bdc;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #0742a1;
}