body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #bba1e0;
    padding: 30px;
    border-radius: 25px;
    width: 300px;
    height: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h2 {
    margin-bottom: 20px;
    color: #380258;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b5acac;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p {
    color: #5c5656;
    font-size: 14px;
    margin-bottom: 5px;
}

.box h3 {
    color: #000;
    margin: 0;
}